.flex-container {
    display: flex;
    background-color: white;
   
  }
  
.flex-container > div {
    border-radius: 43%;
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
 .mycenter{
     max-width:500px ;
     margin: auto;
 } 

 #check{
   margin-left: 91px;
   margin-right: 100px;
   
 }
 
